
*.png
*.dat
Summary/CholeraYemenSummary.log
Summary/CholeraYemenSummary.log
Summary/CholeraYemenSummary.pdf
Summary/CholeraYemenSummary.tex
Summary/CholeraYemenSummary.synctex.gz
Summary/SummaryTable.pdf
Summary/SummaryTable.synctex.gz
Summary/SummaryTable.tex
Tables/*.dat
Tables/*.mat
